* {
  box-sizing: border-box;
}

body {
  font-family: montserrat, Tahoma, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 5px;
  text-align: left;
  font-size: 15px;
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.left {
  float: left;
  width: 320px;
  background: #ccc;
  padding-right: 20px;
  padding-left:10%;
}

p {
  opacity: 0.8;
}
/* Create two columns/boxes that floats next to each other */
img {
  align: center;
  width: 30%;
  background: #ccc;
  height: auto;
  padding-left: 0px;
  padding-bottom:0px;
}

img {
  float: center;
  width: 30%;
  background: #ccc;
  padding-left: 10px;
  padding-bottom:5px;
/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  padding-right: 10%;
  padding.left:5%;
  text-align: justify;
  float: left;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}